#--------OAuth2.0 Client Configuration---------
#scope=openid
#grant_type=client_credentials
#username=
#password=
#client_id=%CLIENT_ID%
#client_secret=%CLIENT_SECRET%
#access_token=
#refresh_token=
#
#Si accès INTERNET
#authentication_server_url=https://oauth.aife.economie.gouv.fr
#resource_server_url=https://api.aife.economie.gouv.fr
#
#Si accès SANDBOX INTERNET
#authentication_server_url=https://sandbox-oauth.aife.economie.gouv.fr
#resource_server_url=https://sandbox-api.aife.economie.gouv.fr
#------------------------------------------------
#Si accès ADER
#authentication_server_url=https://oauth.aife.finances.rie.gouv.fr
#resource_server_url=https://api.aife.finances.rie.gouv.fr
#
#Si accès SANDBOX ADER
#authentication_server_url=https://sandbox-oauth.aife.finances.rie.gouv.fr
#resource_server_url=https://sandbox-api.aife.finances.rie.gouv.fr





















